apiVersion: apps/v1
kind: Deployment
metadata:
  name: truenas-goify
  namespace: truenas-gotify
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: truenas-gotify
  template:
    metadata:
      labels:
        app: truenas-gotify
    spec:
      containers:
      - name: truenas-gotify
        image: jwschman/truenas-gotify:main
        imagePullPolicy: Always
        ports:
        - containerPort: 31662
        env:
        - name: GOTIFY_URL
          value: "https://gotify.pawked.com/message"
        - name: GOTIFY_TOKEN
          value: <gotify-token> # Add your own here or use a secret containing it
        - name: LISTEN_HOST
          value: "0.0.0.0"
        - name: LISTEN_PORT
          value: "31662"  # This should match the container port
        - name: PROMETHEUS_METRICS
          value: "1"
        - name: DEBUG_MODE
          value: "0"